@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Noto+Sans+KR:wght@100;300;500;900&display=swap');


.text_font{font-family: 'Aboreto', cursive;
    font-family: 'Noto Sans KR', sans-serif;}

.text_color02{
    color: rgb(56, 109, 92);
    font-size: 26px;
    text-decoration: underline;
}